* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-brand-primary: #1d99ff;
  --color-brand-secondary: #ff455b;

  --color-feedback-error: #f1526e;
  --color-feedback-info: #3da4f3;
  --color-feedback-success: #00c689;
  --color-feedback-warning: #fdbf35;

  --color-text-dark: #708aa1;
  --color-text-light: #aebdc9;

  --color-interface-light: #f1f4f6;
  --color-interface-dark: #d5e0ec;

  --color-common-light: #ffffff;
  --color-common-dark: #000000;

  --spacing-xsmall: 4px;
  --spacing-small: 8px;
  --spacing-default: 16px;
  --spacing-medium: 24px;
  --spacing-large: 32px;
  --spacing-xlarge: 40px;

}

body {
  font-family: 'Open Sans', Arial, Helvetica, 'Ubuntu', sans-serif;
  font-size: 16px;
  background-color: var(--color-interface-light);

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header {
  padding-top: var(--spacing-medium);
  padding-bottom: var(--spacing-medium);
  background-color: var(--color-interface-light);
}

.header-item {
  display: flex;
  justify-content: space-between;
}

/* header > div.container {
  display: flex;
  justify-content: space-between;
} */

.button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: var(--color-text-dark);
}

.title {
  line-height: 1.5;
  letter-spacing: -1px;
  font-weight: 500;
  font-size: 27px;
  color: var(--color-text-light);
}

.subtitle {
  line-height: 1.2;
  font-weight: 800;
  color: var(--color-brand-primary);
  font-size: 13px;
}

.container {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.form-task {
  margin-top: var(--spacing-large);

}

.form-task-label {
  color: var(--color-text-dark);
  font-weight: 800;
  font-size: 12px;
}

.form-task-input {
  width: 36vh;
  height: 7vh;
  margin-bottom: var(--spacing-large);
  border: 1px solid var(--color-text-light);
  border-radius: 3px;

}

.form-task-button {
  background-color: var(--color-brand-secondary);
  border-radius: 3px;
  width: 9vh;
  height: 7vh;
  color: white;
  margin-bottom: var(--spacing-large);
}

.alinhar-texto-botao {
  display: flex;
  align-items: center;
  gap: 2px;
}

/* .fundo-menu{
   
} */

.fundo-opcoes {
  background-color: white;
  border-radius: 5%;
  border: 1px solid var(--color-text-light);
  padding-bottom: 100%;
}

.caixa-pesquisa {
  display: flex;
  padding: var(--spacing-xsmall);
  width: 100%;
  font-size: 13px;
  font-weight: 500;

}

.task-riscada {
  width: 100%;
  text-decoration: line-through;
}

.caixa-pesquisa p {
  width: 100%;
  margin: 14px;
}

.pesquisabutton {
  padding: var(--spacing-small);

}

.deletebutton {
  padding: var(--spacing-small);
}

.separa-funcoes {
  margin-bottom: var(--spacing-small);
}

/* Media Query */

@media (min-width: 760px) {

  .title {
    font-size: 38px;
  }

  .subtitle {
    font-size: 23px;
  }

  .form-task-label {
    font-size: 15px;
  }

  .caixa-pesquisa {
    font-size: 23px;
  }

  .avatar {
    width: 70px;
    height: 70px;
  }
}

@media (min-width: 1240px) {

  .title {
    font-size: 50px;
  }

  .subtitle {
    font-size: 20px;
  }

  .form-task-label {
    font-size: 12px;
  }

  .caixa-pesquisa {
    font-size: 20px;
  }

  .avatar {
    width: 90px;
    height: 90px;
  }

}

@media (min-width: 2560px) {

  .title {
    font-size: 80px;
  }

  .subtitle {
    font-size: 40px;
  }

  .form-task-label {
    font-size: 30px;
  }

  .caixa-pesquisa {
    font-size: 40px;
  }

  .avatar {
    width: 130px;
    height: 130px;
  }

}